################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Webgentle_Bookstore/.vs/Webgentle_Bookstore/v16
